.movie-list {
  display: inline-block;
  flex-direction: column;
  color: hsl(265, 93%, 60%);
  margin: 15px;
  width: 350px;
  height: 460px;
  background: linear-gradient(
    90deg,
    rgba(110, 94, 254, 0.3) 0%,
    rgba(73, 63, 252, 0.7) 100%
  );
  border: 1px solid hsl(265, 93%, 60%);
  border-radius: 18px;
  box-shadow: 5px 8px rgba(110, 94, 254, 0.3);
}
.movie-list:hover {
  box-shadow: 5px 8px #37b9f1;
}
button {
  width: 135px;
  border-radius: 18px;
  font-size: 15px;
  border: 1px solid #8939f8;
  font: inherit;
  cursor: pointer;
  color: #fff;
  background: #37b9f1;
}
button:hover {
  color: #37b9f1;
  background: #6d76f7;
}
.img-class {
  height: 170px;
  padding: 0.5vh;
  border: 1px solid lightblue;
  border-radius: 10px;
  box-shadow: 5px 8px #37b9f1;
}

.h4-class {
  margin: 2px auto;
}

.stream-it {
  margin: 10px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #37b9f1;
}
/* media query for mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .movie-list {
    margin: 8px;
    width: 105px;
    height: 200px;
  }
  .img-class {
    height: 40px;
    border-radius: 5px;
  }
  button {
    width: 50px;
    border-radius: 9px;
    font-size: 10px;
  }
  .h4-class {
    margin: 1px auto;
    font-size: 10px;
  }
  .h5-class {
    font-size: 10px;
  }
  .stream-it {
    margin: 5px auto;
    font-size: 18px;
    font-weight: 165px;
  }
}
/* media query for ipad/tabelt */
@media (min-width: 768px) and (max-width: 1024px) {
  .movie-list {
    margin: 12px;
    width: 175px;
    height: 330px;
  }
  .img-class {
    height: 120px;
    border-radius: 7px;
  }
  button {
    width: 85px;
    border-radius: 13px;
    font-size: 10px;
  }
  .h4-class {
    margin: 1.5px auto;
    font-size: 18px;
  }
  .h5-class {
    font-size: 18px;
  }
  .stream-it {
    margin: 7px auto;
    font-size: 30px;
    font-weight: 165px;
  }
}
