.App {
  text-align: center;
}

.nav-bar{
  margin: 10px auto;
}
.movie-list{
  color: #8939f8;
  background-color: #e1dfe9;
  margin: 30px auto;
  width: 450px;
  
}
.movies-list{
  background: #37b9f1;
}
p {
  color: #fff;
}
button{
  background: blue-gray;
}
